h2 {
  color: green;
  font-style: italic;
  font-size: 32px;
}

.person {
  color: grey;
  font-size: 15px;
  margin-top: 16px;
}

.person .data {
  margin-right: 16px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}